body {
  background: #f3f4f6;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  min-height: 100vh;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  width: 400px;
  transition: all 0.3s ease;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #2563eb;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1rem;
}

.input-group button {
  padding: 10px 15px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.input-group button:hover {
  background: #1d4ed8;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 10px;
  border-radius: 8px;
  margin-top: 8px;
  transition: 0.2s;
}

.todo-item:hover {
  background: #eef2ff;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1.1rem;
}

.edit-mode input {
  flex: 1;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.save-btn {
  background: #16a34a;
  color: white;
  border-radius: 6px;
  padding: 5px 10px;
  margin-left: 5px;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
}

.filter-buttons button {
  background: #e0e7ff;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.filter-buttons button:hover {
  background: #c7d2fe;
}

.filter-buttons .clear {
  background: #f87171;
  color: white;
}
.filter-buttons .clear:hover {
  background: #dc2626;
}


.navbar {
  width: 100%;
  padding: 15px 30px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 0 0 12px 12px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.logout-btn {
  padding: 8px 18px;
  background: #e63946;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #c9303c;
}
